@import "tailwindcss";
@import 'tailwind-animations';
@import "tailwindcss-animated";

@theme {
  --color-purple-50: #f7f9fa;
  --color-purple-600: #faf5ff;
  --color-purple-700: #7f70e0;
  --color-purple-800: #5d3fd2;
  --color-purple-900: #21096fff;
  --color-orange-600: #ff7b00;
  --color-orange-900: #f5daba;
  --color-green-600: #28700d;
  --color-gray-900: #d3cff2;
  --color-blue-600: #1877f2;
  --color-blue-800: #111826;
  --color-blue-900: #1f2a38;
  --color-amber-50: #f7f9fa;

  /* #7e22ce */
}

html {
  scroll-behavior: smooth;
}

.why-image {
  width: 500px;
  height: 450px;
}

.hidden-cost {
  width: 1500px;
  height: 230px;
}

.procurement {
  width: 600px;
  height: 200px;
}

.signup-logo {
  width: 63px;
  height: 60px;
}

.signup-right-section {
  border-radius: 50%;
  padding: 15px;
}



